src/main/mule/implementation/Post-member-OTP-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Post-member-OTP-implementationFlow" doc:id="dca4a748-9857-436d-b06b-0b18d56f0510" >
		<http:request method="GET" doc:name="Request" doc:id="8a31852a-850d-4b94-a081-582acf17cc53" config-ref="HTTP_Request_configuration" path="${smsapi.uri}">
			<http:query-params ><![CDATA[#[output application/json
---
{
	"authkey" : p('secure::smsapi.authkey'),
	"mobile":payload.phoneNumber,
	"sid":p('smsapi.sid'),
	"name":"Hi user",
	"country_code":payload.phonecountry,
	"otp":payload.OTP
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="8e353ae8-2cf2-4724-bcdd-6d10b89a695d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"success":"true"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
